/*
grid_header
grid_section_one
grid_section_three
grid_section_four
grid_section_five
grid_footer
*/
.grid_container {
  width: 100%;
  max-width: 1440px;
  padding: 20px 0px;
  background: grey;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-areas: "grid_header        grid_header        grid_header" "grid_section_one   grid_section_one   grid_section_one" "grid_section_three grid_section_three grid_section_three" "grid_section_four  grid_section_four  grid_section_four" "grid_section_five  grid_section_five  grid_section_five" "grid_footer        grid_footer        grid_footer";
}
.grid_container .grid_header {
  width: 100%;
  padding: 10px 0px;
  background: rgb(71, 71, 71);
  grid-area: grid_header;
}
.grid_container .grid_section_one {
  width: 100%;
  padding: 10px 0px;
  background: rgb(71, 71, 71);
  grid-area: grid_section_one;
}
.grid_container .grid_section_three {
  width: 100%;
  padding: 10px 0px;
  background: rgb(71, 71, 71);
  grid-area: grid_section_three;
}
.grid_container .grid_section_four {
  width: 100%;
  padding: 10px 0px;
  background: rgb(71, 71, 71);
  grid-area: grid_section_four;
}
.grid_container .grid_section_five {
  width: 100%;
  padding: 10px 0px;
  background: rgb(71, 71, 71);
  grid-area: grid_section_five;
}
.grid_container .grid_footer {
  width: 100%;
  padding: 10px 0px;
  background: rgb(71, 71, 71);
  grid-area: grid_footer;
}

/*
cont_header
cont_header_Logo
cont_header_nav
cont_header_nav_Li
link
*/
.cont_header {
  width: 100%;
  padding: 30px 20px;
  background: hsl(218deg, 28%, 13%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cont_header .cont_header_Logo {
  width: 130px;
  height: 40px;
}
.cont_header .cont_header_nav {
  width: 300px;
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.cont_header .cont_header_nav .cont_header_nav_Li {
  padding: 5px 0px;
  text-align: center;
}
.cont_header .cont_header_nav .cont_header_nav_Li .link {
  color: hsl(0deg, 0%, 78%);
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s all;
}
.cont_header .cont_header_nav .cont_header_nav_Li .link:hover {
  color: hsl(0deg, 0%, 100%);
}

@media (min-width: 320px) and (max-width: 720px) {
  .cont_header {
    width: 100%;
    padding: 20px;
  }
  .cont_header .cont_header_Logo {
    width: 100px;
    height: 35px;
  }
  .cont_header .cont_header_nav {
    width: 160px;
  }
}
/*
cont_sectionOne
cont_sectionOne_img
cont_sectionOne_title
cont_sectionOne_parrafo
cont_sectionOne_buttom
cont_sectionOne_curvo
*/
.cont_sectionOne {
  width: 100%;
  padding: 30px 0px;
  background: hsl(217deg, 28%, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cont_sectionOne .cont_sectionOne_img {
  width: 500px;
  height: 400px;
  padding: 20px 0px;
  background-image: url(../images/illustration-intro.png);
  background-size: 100% 100%;
  margin: auto;
  z-index: 10;
}
.cont_sectionOne .cont_sectionOne_title {
  width: 600px;
  text-align: center;
  margin: 20px auto;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  z-index: 10;
}
.cont_sectionOne .cont_sectionOne_parrafo {
  width: 430px;
  padding: 10px 0px;
  margin: 20px auto;
  color: hsl(0deg, 0%, 78%);
  text-align: center;
  font-weight: 400;
  z-index: 10;
}
.cont_sectionOne .cont_sectionOne_buttom {
  width: 220px;
  padding: 15px 0px;
  background: hsl(198deg, 60%, 50%);
  color: white;
  font-weight: 700;
  border-radius: 30px;
  transition: 0.5s all;
  z-index: 10;
  margin-bottom: 100px;
}
.cont_sectionOne .cont_sectionOne_buttom:hover {
  background: hsl(176deg, 68%, 64%);
  cursor: pointer;
}
.cont_sectionOne .cont_sectionOne_curvo {
  width: 100%;
  height: 280px;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

@media (min-width: 320px) and (max-width: 423px) {
  .cont_sectionOne {
    padding: 50px 20px;
  }
  .cont_sectionOne .cont_sectionOne_img {
    width: 100%;
    height: 250px;
    padding: 50px 0px;
    background-image: url(../images/illustration-intro.png);
    background-size: 100% 100%;
    margin: auto;
    z-index: 10;
  }
  .cont_sectionOne .cont_sectionOne_title {
    width: 100%;
    text-align: center;
    margin: 10px auto;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
    z-index: 10;
  }
  .cont_sectionOne .cont_sectionOne_parrafo {
    width: 100%;
    padding: 10px 0px;
    margin: 10px auto;
    color: hsl(0deg, 0%, 78%);
    text-align: center;
    font-weight: 400;
    z-index: 10;
  }
  .cont_sectionOne .cont_sectionOne_buttom {
    width: 240px;
    padding: 15px 0px;
    background: hsl(198deg, 60%, 50%);
    color: white;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.5s all;
    z-index: 10;
    margin-bottom: 50px;
  }
  .cont_sectionOne .cont_sectionOne_curvo {
    width: 100%;
    height: 350px;
    background-image: url(../images/bg-curvy-mobile.svg);
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }
}
/*
cont_sectionThree
cont_sectionThree_box
cont_sectionThree_box_img
cont_sectionThree_box_title
cont_sectionThree_box_parrafo
*/
.cont_sectionThree {
  width: 100%;
  padding: 30px 100px;
  background: hsl(218deg, 28%, 13%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.cont_sectionThree .cont_sectionThree_box {
  width: 400px;
  height: 250px;
  padding: 10px 10px;
  margin: 20px 0px;
}
.cont_sectionThree .cont_sectionThree_box .cont_sectionThree_box_img {
  width: 100px;
  height: 90px;
  margin: auto;
}
.cont_sectionThree .cont_sectionThree_box .cont_sectionThree_box_title {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: white;
}
.cont_sectionThree .cont_sectionThree_box .cont_sectionThree_box_parrafo {
  margin-top: 20px;
  color: hsl(0deg, 0%, 78%);
  text-align: center;
}

@media (min-width: 20px) and (max-width: 423px) {
  .cont_sectionThree {
    width: 100%;
    padding: 30px 20px;
    background: hsl(218deg, 28%, 13%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .cont_sectionThree .cont_sectionThree_box {
    width: 100%;
    height: 250px;
    padding: 10px 10px;
    margin: 20px 0px;
  }
}
.cont_sectionFour {
  width: 100%;
  padding: 150px 80px;
  background: hsl(218deg, 28%, 13%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cont_sectionFour .cont_sectionFour_img {
  width: 500px;
  padding: 10px 0px;
}
.cont_sectionFour .cont_sectionFour_block {
  width: 500px;
  padding: 10px 0px;
}
.cont_sectionFour .cont_sectionFour_block .cont_sectionFour_block_title {
  width: 300px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.cont_sectionFour .cont_sectionFour_block .cont_sectionFour_block_parrafo {
  margin-top: 20px;
  color: hsl(0deg, 0%, 78%);
}
.cont_sectionFour .cont_sectionFour_block .cont_sectionFour_block_link {
  margin-top: 5px;
}
.cont_sectionFour .cont_sectionFour_block .cont_sectionFour_block_link .linkArrow {
  color: hsl(176deg, 68%, 64%);
  text-decoration: none;
  transition: 0.5s all;
}
.cont_sectionFour .cont_sectionFour_block .cont_sectionFour_block_link .linkArrow:hover {
  color: hsl(0deg, 0%, 100%);
}

@media (min-width: 20px) and (max-width: 423px) {
  .cont_sectionFour {
    width: 100%;
    padding: 80px 20px;
    background: hsl(218deg, 28%, 13%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .cont_sectionFour .cont_sectionFour_img {
    width: 100%;
    padding: 10px 0px;
  }
  .cont_sectionFour .cont_sectionFour_block {
    width: 100%;
    padding: 10px 0px;
  }
  .cont_sectionFour .cont_sectionFour_block .cont_sectionFour_block_title {
    width: 300px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
}
.cont_sectionFive {
  width: 100%;
  height: 600px;
  padding: 50px 0px;
  background: hsl(218deg, 28%, 13%);
  position: relative;
}
.cont_sectionFive .cont_sectionFive_quotes {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25px;
  left: calc(20% - 195px);
  z-index: 0;
}
.cont_sectionFive .cont_sectionFive_testimonials {
  width: 1100px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: calc(50% - 550px);
  z-index: 10;
}
.cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box {
  width: 350px;
  padding: 30px;
  background: hsl(219deg, 30%, 18%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px hsl(219deg, 30%, 18%);
}
.cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_parrafo {
  width: 100%;
  padding: 5px 0px;
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
}
.cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_block {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_block .cont_sectionFive_testimonials_box_block_img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}
.cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_block .cont_sectionFive_testimonials_box_block_description {
  margin-left: 10px;
  width: 250;
  padding: 5px 0px;
}
.cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_block .cont_sectionFive_testimonials_box_block_description .cont_sectionFive_testimonials_box_block_description_name {
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 14px;
}
.cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_block .cont_sectionFive_testimonials_box_block_description .cont_sectionFive_testimonials_box_block_description_profetion {
  color: hsl(0deg, 0%, 78%);
  font-weight: 400;
  font-size: 14px;
}
.cont_sectionFive .cont_sectionFive_blockEarly {
  width: 850px;
  padding: 30px 0px;
  background: hsl(217deg, 28%, 15%);
  box-shadow: 0px 10px 10px hsl(216deg, 53%, 9%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -120px;
  left: calc(50% - 425px);
  display: none;
}
.cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_title {
  color: hsl(0deg, 0%, 100%);
  font-size: 35px;
}
.cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_parrafo {
  width: 600px;
  margin-top: 20px;
  text-align: center;
  color: hsl(0deg, 0%, 78%);
}
.cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_form {
  margin-top: 20px;
  width: 85%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
}
.cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_form .cont_sectionFive_blockEarly_form_input {
  width: 60%;
  padding: 15px;
  outline: none;
  border-radius: 100px;
  border: none;
  color: hsl(0deg, 0%, 78%);
}
.cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_form .cont_sectionFive_blockEarly_form_button {
  width: 30%;
  padding: 15px 0px;
  background: hsl(0deg, 0%, 100%);
  border: none;
  border-radius: 100px;
  background: hsl(198deg, 60%, 50%);
  color: hsl(0deg, 0%, 100%);
  transition: 0.5s all;
}
.cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_form .cont_sectionFive_blockEarly_form_button:hover {
  background: hsl(176deg, 68%, 64%);
  cursor: pointer;
}
.cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_alert {
  position: absolute;
  bottom: 15px;
  left: 90px;
  color: white;
}

@media (min-width: 320px) and (max-width: 423px) {
  .cont_sectionFive {
    width: 100%;
    height: 1200px;
    padding: 50px 20px;
    background: hsl(218deg, 28%, 13%);
    position: relative;
  }
  .cont_sectionFive .cont_sectionFive_quotes {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 45px;
    left: 20px;
    z-index: 0;
  }
  .cont_sectionFive .cont_sectionFive_testimonials {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 10;
  }
  .cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box {
    width: 90%;
    padding: 30px;
    margin: 20px 0px;
    background: hsl(219deg, 30%, 18%);
  }
  .cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_parrafo {
    width: 100%;
    padding: 5px 0px;
    color: hsl(0deg, 0%, 100%);
    font-weight: 400;
  }
  .cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_block {
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_block .cont_sectionFive_testimonials_box_block_img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
  }
  .cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_block .cont_sectionFive_testimonials_box_block_description {
    margin-left: 10px;
    width: 250;
    padding: 5px 0px;
  }
  .cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_block .cont_sectionFive_testimonials_box_block_description .cont_sectionFive_testimonials_box_block_description_name {
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
    font-size: 14px;
  }
  .cont_sectionFive .cont_sectionFive_testimonials .cont_sectionFive_testimonials_box .cont_sectionFive_testimonials_box_block .cont_sectionFive_testimonials_box_block_description .cont_sectionFive_testimonials_box_block_description_profetion {
    color: hsl(0deg, 0%, 78%);
    font-weight: 400;
    font-size: 14px;
  }
  .cont_sectionFive .cont_sectionFive_blockEarly {
    width: 90%;
    padding: 30px 20px;
    background: hsl(217deg, 28%, 15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -100px;
    left: 20px;
  }
  .cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_title {
    color: hsl(0deg, 0%, 100%);
    font-size: 20px;
  }
  .cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_parrafo {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: hsl(0deg, 0%, 78%);
  }
  .cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_form {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_form .cont_sectionFive_blockEarly_form_input {
    width: 100%;
    padding: 15px 20px;
    color: hsl(0deg, 0%, 78%);
  }
  .cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_form .cont_sectionFive_blockEarly_form_button {
    margin-top: 40px;
    width: 100%;
    padding: 15px 0px;
    background: hsl(0deg, 0%, 100%);
    background: hsl(198deg, 60%, 50%);
    color: hsl(0deg, 0%, 100%);
  }
  .cont_sectionFive .cont_sectionFive_blockEarly .cont_sectionFive_blockEarly_alert {
    position: absolute;
    bottom: 105px;
    left: calc(50% - 110px);
    color: white;
  }
}
/*
cont_footer
cont_footer_logo
cont_footer_block
*/
/*
cont_footer_block
cont_footer_block_box
cont_footer_block_box_icon
cont_footer_block_box_parrafo
*/
.cont_footer {
  width: 100%;
  padding: 50px 0px;
  background: rgb(143, 8, 8);
}
.cont_footer .cont_footer_logo {
  width: 160px;
  height: 50px;
  margin-left: 20px;
}
.cont_footer .cont_footer_block {
  margin-top: 10px;
  width: 100%;
  padding: 10px 0px;
  background: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.cont_footer .cont_footer_block .cont_footer_block_box1 {
  width: 250px;
  padding: 10px;
  background: teal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.cont_footer .cont_footer_block .cont_footer_block_box1 .cont_footer_block_box_icon {
  width: 15px;
  height: 20px;
}
.cont_footer .cont_footer_block .cont_footer_block_box1 .cont_footer_block_box_parrafo {
  width: 200px;
  background-color: tan;
}
.cont_footer .cont_footer_block .cont_footer_block_box2 {
  width: 150px;
  background: teal;
  padding: 10px 0px;
}
.cont_footer .cont_footer_block .cont_footer_block_box2 .cont_footer_block_box_phone {
  display: flex;
  flex-direction: row;
}
.cont_footer .cont_footer_block .cont_footer_block_box2 .cont_footer_block_box_phone .cont_footer_block_box_phone_icon {
  width: 15px;
  height: 20px;
}
.cont_footer .cont_footer_block .cont_footer_block_box2 .cont_footer_block_box_phone .cont_footer_block_box_phone_text {
  color: hsl(0deg, 0%, 78%);
  font-size: 11px;
  margin-left: 15px;
}
.cont_footer .cont_footer_block .cont_footer_block_box2 .cont_footer_block_box_email {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.cont_footer .cont_footer_block .cont_footer_block_box2 .cont_footer_block_box_email .cont_footer_block_box_email_icon {
  width: 15px;
  height: 20px;
}
.cont_footer .cont_footer_block .cont_footer_block_box2 .cont_footer_block_box_email .cont_footer_block_box_email_text {
  color: hsl(0deg, 0%, 78%);
  font-size: 11px;
  margin-left: 15px;
}
.cont_footer .cont_footer_block .cont_footer_block_box3 {
  width: 200px;
  background: teal;
  display: flex;
  justify-content: space-around;
}
.cont_footer .cont_footer_block .cont_footer_block_box3 .cont_footer_block_box_smallBox {
  width: 50%;
  padding: 5px 0px;
}
.cont_footer .cont_footer_block .cont_footer_block_box3 .cont_footer_block_box_smallBox_ul {
  width: 100%;
  list-style: none;
}
.cont_footer .cont_footer_block .cont_footer_block_box3 .cont_footer_block_box_smallBox_ul .smallBox_ul_li .smallBox_ul_li_link {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}
.cont_footer .cont_footer_block .cont_footer_block_box4 {
  width: 120px;
  padding: 10px 0px;
  background: teal;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cont_footer .cont_footer_block .cont_footer_block_box4 .cont_footer_block_box_media {
  width: 30px;
  height: 30px;
  background: brown;
  border-radius: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=main.css.map */
