//Colors

//Primary
//intro and email sign up background
$Dark_BlueIntro: hsl(217, 28%, 15%);
//main background
$Dark_BlueBackground: hsl(218, 28%, 13%);
//footer background
$Dark_BlueFooter: hsl(216, 53%, 9%);
//testimonials background
$Dark_BlueTestimonials: hsl(219, 30%, 18%);

//Accent
//inside call-to-action gradient
$Cyan: hsl(176, 68%, 64%);
//inside call-to-action gradient
$Blue: hsl(198, 60%, 50%);
//error
$Light_Red: hsl(0, 100%, 63%);

//Neutral
$White: hsl(0, 0%, 100%);
$White_dark:hsl(0, 0%, 78%);



//FONTS BODY
$font_body: 'Open Sans', sans-serif;       
$font_weight_body1:700;
$font_weight_body2:400;

//FONTS HEADER
$font_header:'Raleway', sans-serif;     
$font_weight_raleway1:700;
$font_weight_raleway2:400;