@import "fontColor";


.cont_sectionFive{
    width: 100%;
    height: 600px;
    padding: 50px 0px;
    background:$Dark_BlueBackground;
    position: relative;
    .cont_sectionFive_quotes{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 25px;
        left: calc(20% - 195px);
        z-index:0;
    }

    //BOX TESTIMONIOS
    .cont_sectionFive_testimonials{
        width:1100px;
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: calc(50% - 550px);
        z-index: 10;
        .cont_sectionFive_testimonials_box{
            width: 350px;
            padding: 30px;
            background:$Dark_BlueTestimonials;
            border-radius: 10px;
            box-shadow: 0px 0px 10px $Dark_BlueTestimonials;
            //BOX PARRAFO
            .cont_sectionFive_testimonials_box_parrafo{
                width: 100%;
                padding: 5px 0px;
                color: $White; 
                font-weight: 400;  
            }

            //BOX BLOCK
            .cont_sectionFive_testimonials_box_block{
                margin-top: 20px;
                width:300px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                .cont_sectionFive_testimonials_box_block_img{
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    overflow: hidden;
                }
                .cont_sectionFive_testimonials_box_block_description{
                    margin-left: 10px;
                    width: 250;
                    padding: 5px 0px;
                    .cont_sectionFive_testimonials_box_block_description_name{
                        color: $White;
                        font-weight: 700;
                        font-size: 14px;
                    }
                    .cont_sectionFive_testimonials_box_block_description_profetion{
                        color: $White_dark;
                        font-weight: 400;
                        font-size: 14px;

                    }
                }
            }
        }

    
    }

    //BOX BLOCK EARLY
    .cont_sectionFive_blockEarly{
        width:850px;
        padding: 30px 0px;
        background: $Dark_BlueIntro;
        box-shadow: 0px 10px 10px $Dark_BlueFooter;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -120px;
        left: calc(50% - 425px);
        .cont_sectionFive_blockEarly_title{
            color:$White;
            font-size: 35px;
        }
        .cont_sectionFive_blockEarly_parrafo{
            width: 600px;
            margin-top: 20px;
            text-align: center;
            color: $White_dark;
        }
        .cont_sectionFive_blockEarly_form{
            margin-top: 20px;
            width: 85%;
            padding: 10px 0px;
            display: flex;
            justify-content: space-around;
            .cont_sectionFive_blockEarly_form_input{
                width: 60%;
                padding: 15px;
                outline: none;
                border-radius: 100px;
                border: none;
                color: $White_dark;
            }
            .cont_sectionFive_blockEarly_form_button{
                width:30%;
                padding: 15px 0px;
                background: $White;
                border: none;
                border-radius: 100px;
                background: $Blue;
                color: $White;
                transition: 0.5s all;
            }
            .cont_sectionFive_blockEarly_form_button:hover{
                background:$Cyan;
                cursor: pointer;
            }
        }

        .cont_sectionFive_blockEarly_alert{
            position: absolute;
            bottom: 15px;
            left: 90px;
            color: white;
        }
        
    }
}



@media (min-width:320px) and (max-width:423px){
    .cont_sectionFive{
        width: 100%;
        height: 1200px;
        padding: 50px 20px;
        background:$Dark_BlueBackground;
        position: relative;

        //BOX QUOTES
        .cont_sectionFive_quotes{
            width: 50px;
            height: 50px;
            position: absolute;
            top: 45px;
            left:20px;
            z-index:0;
        }
    
        //BOX TESTIMONIOS
        .cont_sectionFive_testimonials{
            width:100%;
            padding: 10px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            left:0;
            z-index: 10;
            .cont_sectionFive_testimonials_box{
                width: 90%;
                padding: 30px;
                margin: 20px 0px;
                background:$Dark_BlueTestimonials;
                //BOX PARRAFO
                .cont_sectionFive_testimonials_box_parrafo{
                    width: 100%;
                    padding: 5px 0px;
                    color: $White; 
                    font-weight: 400;  
                }
    
                //BOX BLOCK
                .cont_sectionFive_testimonials_box_block{
                    margin-top: 20px;
                    width:300px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    .cont_sectionFive_testimonials_box_block_img{
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        overflow: hidden;
                    }
                    .cont_sectionFive_testimonials_box_block_description{
                        margin-left: 10px;
                        width: 250;
                        padding: 5px 0px;
                        .cont_sectionFive_testimonials_box_block_description_name{
                            color: $White;
                            font-weight: 700;
                            font-size: 14px;
                        }
                        .cont_sectionFive_testimonials_box_block_description_profetion{
                            color: $White_dark;
                            font-weight: 400;
                            font-size: 14px;
    
                        }
                    }
                }
            }
    
        
        }
    
        //BOX BLOCK EARLY
        .cont_sectionFive_blockEarly{
            width:90%;
            padding: 30px 20px;
            background: $Dark_BlueIntro;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: -150px;
            left:20px;
            
            .cont_sectionFive_blockEarly_title{
                color:$White;
                font-size: 20px;
                
            }
            .cont_sectionFive_blockEarly_parrafo{
                width: 100%;
                margin-top: 20px;
                text-align: center;
                color: $White_dark;
            }
            .cont_sectionFive_blockEarly_form{
                margin-top: 20px;
                width: 100%;
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .cont_sectionFive_blockEarly_form_input{
                    width: 100%;
                    padding: 15px 20px;
                    color: $White_dark;
                }
                .cont_sectionFive_blockEarly_form_button{
                    margin-top: 40px;
                    width:100%;
                    padding: 15px 0px;
                    background: $White;
                    background: $Blue;
                    color: $White;
                   
                }
            }
    
            .cont_sectionFive_blockEarly_alert{
                position: absolute;
                bottom: 105px;
                left: calc(50% - 110px);
                color: white;
            }
            
        }
    }
    
}